.pageLoaderwrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 4px;
}

.deletingContactLoaderwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.addingContactLoaderwrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 20px;
  border-radius: 10px;
  background-color: rgba(29, 29, 29, 0.85);
}

.authLoaderwrapper {
  display: flex;

  min-height: 25px;
  margin-left: calc(50% - 12.5px);
}

.refreshingPageLoaderwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
