.wrapper {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loggingWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 40%;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;
  border: 4px solid rgb(32, 32, 32);
  border-radius: 20px;

  background: linear-gradient(
    -45deg,
    rgba(136, 0, 255, 0.8),
    rgba(0, 191, 255, 0.8)
  );
}
.loggingText {
  font-weight: 600;
  font-size: 18px;

  text-align: center;
  /* color: rgb(58, 212, 130); */
}
